*.log
x64/
DirectX/x64/
DirectX/Models/
DirectX/DirectX/x64/
ExternalLibraries/
DirectX/DirectX/Models/
*.dll
.vs/
.idea/
*.cso
*.aps
*.rc
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.ico
*.png
*.jpg
*.cso.png
*.sln
*.json
